<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


    <bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.firebirdsql.jdbc.FBDriver"/>
        <property name="url" value="jdbc:firebirdsql://localhost:3050/C:/Program Files/MedServ/GMon3/database/GMON3.GDB"/>
        <property name="username" value="SYSDBA"/>
        <property name="password" value="masterkey"/>
    </bean>

    <bean id="gSql" class="groovy.sql.Sql">
        <constructor-arg ref="dataSource"/>
    </bean>


</beans>